<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class = "tabbar"></div>
	<div id="app">
		<input type="number" v-model="n">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h2>สูตรคูณแม่ {{n}}</h2>
		<h4>ตั้งแต่ 1 -> {{row}}</h4>
		<div class = "order">
		<p v-for = "i in r">
			{{n}} x {{i}} = {{x(i)}}
		</p>
		</div>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
				row: 12
			},
			methods: {
				x: function(row){
					return this.n*row
				}
			},
	
			computed: {
				r: function(){
					return parseInt(this.row)
				}
			},
			watch : {
				n: function(a,b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>