.tabbar {
    margin-top: 0px;
    width: 100%;
    height: 60px;
    background-color: gray;

}
#app {
    background-color: #faebd7;
    text-indent: 50px;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}
.order {
    margin-top: 15px;
    text-indent: 70px;
}
body{
    background-color: #faebd7;
    margin: 0;
}